<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chattr (Chat app)</title>

</head>
<body>

    <!-- List all the rooms in the chat server. -->
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %> 
        <div> <%= room %> </div>
        <a href="/<%= room %>">Join</a>
        <% }) %>
        <!-- The form will allow users to select and enter a new room. -->
    </div>
       
    <h3>Enter a new room nanme.</h3>
    <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit">New Room</button>
        </form>

    <!-- Socket cdn. -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="script.js"></script>
</body>
</html>