/* body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
  }

  #message-container div {
    background-color: #242675;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  } */

  body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  
  #form { background: rgba(91, 109, 215, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); 
  
  }
  #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
  #input:focus { outline: none; }
  #form > button { background: #3438ac; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

  #messages { list-style-type: none; margin: 0; padding: 0;
  color: green; }
  #messages > li { padding: 0.5rem 1rem; }
  #messages > li:nth-child(odd) { background: #cf2d2d; }
  .message-container{
      border: 2px solid purple;
      height: 40px;
  }
