:root {
    --c1: rgba(89, 199, 56,1);
    --c2: rgb(89, 199, 56);
    --c3: rgba(21, 21, 180,.8);
    --c4: rgb(215, 100, 37);
    --c5: rgb(112, 104, 216);
    
}


body { 
    margin: 0; 
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}


header{
    display: flex;
background: linear-gradient( to right, rgb(112, 104, 216), rgba(21, 21, 180,.8));
}

nav li{
    list-style: none;
}

#form { 
    background: rgba(97, 143, 221, 0.15); 
    padding: 0.25rem; position: 
    fixed; bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input, #handle {
     border: none; 
     padding: 0 1rem; 
     flex-grow: 1; 
     border-radius: 2rem; 
     margin: 0.25rem; 
    }

#input:focus { 
    outline: solid 2px var(--c3);
}

#form > button { 
    background: var(--c5); 
    border: none; 
    padding: 0 1rem;
    margin: 0.25rem; 
    border-radius: 2rem; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li { 
    padding: 0.5rem 1rem; 
    margin: 2rem;
border-radius: 4rem;
box-shadow: 2px 5px 5px  1px var(--c3);
width: fit-content;
color:var(--c5);

}
#messages > li:nth-child(odd) { 
    justify-self:flex-end;
    background: var(--c5);
    color: white;

    
}

