/* :root {
    --c1: rgba(89, 199, 56,1);
    --c2: rgb(89, 199, 56);
    --c3: rgba(21, 21, 180,.8);
    --c4: rgb(215, 100, 37);
    --c5: rgb(112, 104, 216);
    
} */

html{
    scroll-behavior: smooth;
}

body { 
    margin: 0; 
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}


header{
    display: flex;
background: linear-gradient( to right, rgb(112, 104, 216), rgba(21, 21, 180,.8));
}

nav li{
    list-style: none;
}

#form { 
    background: rgba(97, 143, 221, 0.15); 
    padding: 0.25rem; position: 
    fixed; bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input, #handle {
     border: none; 
     padding: 0 1rem; 
     flex-grow: 1; 
     border-radius: 2rem; 
     margin: 0.25rem; 
    }

#input:focus { 
    outline: solid 2px var(--c3);
}

#form > button { 
    background: var(--c5); 
    border: none; 
    padding: 0 1rem;
    margin: 0.25rem; 
    border-radius: 2rem; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li { 
    padding: 0.3rem 1rem; 
    margin: 1rem;
border-radius: 4rem;
box-shadow: 2px 5px 5px  1px var(--c3);
width: fit-content;
color:var(--c5);

}
#messages > li:nth-child(odd) { 
    background: var(--c5);
    color: white;
}

#typing{
    padding: 0rem 2rem;
    font-style: italic;
}

/* Considering adding some animation for elipses... */
/* 
.typingDots {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #fff;
    border-radius: 20px;
  }
  
  .typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
  }
  
  .typing__dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .typing__dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing__dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes loadingFade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8
    }
    100%{
        opacity: 0
    }
} */